/**
 * @file
 * Breeding API styles.
 *
 * This file contains styles used by the Breeding API user interface.
 */
.brapi-admin-block {
  padding-bottom: 1em;
}

.brapi-admin-block .system-status-report {
  margin: 3em 0;
}

.brapi-admin-block .system-status-report caption {
  font-weight: bold;
  font-size: larger;
  text-align: left;
}

.brapi-spe-role {
  color: DimGray;
  font-style: italic;
}

.brapi-argument::before {
  content: "{";
}

.brapi-argument::after {
  content: "}";
}

.brapi-argument {
  color: DimGray;
  font-weight: bold;
}

.brapi-required {
  color: red;
}

.brapi-feature {
  font-weight: normal;
}

.brapi-feature-name {
  font-weight: bold;
}

.brapi-feature-value {
  font-weight: normal;
}

.brapi-minor-details {
  color: DimGray;
  font-size: smaller;
}

.brapi-missing {
  color: DarkOrange;
  font-weight: bold;
}

.brapi-yes,
.brapi-yes a {
  color: DarkGreen;
}

.brapi-no {
  color: DarkRed;
}

.brapi-dl {
  width: 100%;
  padding: 0 2ex;
  margin: 0;
}

.brapi-dl dt {
  float: left;
  clear: left;
  width: 60ex;
  padding: 0;
  margin: 0;
}

.brapi-dl dd {
  float: left;
  padding: 0;
  margin: 0;
}

/* Breeding API Query Interface */
#brapi_query_settings,
#brapi_call_settings,
#brapi_query_result_ajax {
  display: none;
}

#brapi_query_result_iframe {
  width: 100%;
  height: 20em;
  border: 1px solid black;
}

.brapi-hidden {
  display: none;
}

#brapi_query_result_ajax,
#brapi_query_debug code {
  display: block;
  margin: 0 0 1em 0;
  padding: 0.5em 1ex;
  border: 1px solid black;
  font-family: Consolas, Courier New, monospace;
  white-space: pre-wrap;
  overflow: auto;
}
