/**
 * @file
 * Breeding API styles.
 *
 * This file contains styles used by the Breeding API user interface.
 */
.brapi-admin-block {
  padding-bottom: 1em;
}

.brapi-admin-block .system-status-report {
  margin: 3em 0;
}

.brapi-admin-block .system-status-report caption {
  font-weight: bold;
  font-size: larger;
  text-align: left;
}

.brapi-spe-role {
  color: DimGray;
  font-style: italic;
}

.brapi-argument::before {
  content: "<";
}

.brapi-argument::after {
  content: ">";
}

.brapi-argument {
  color: DimGray;
  font-weight: bold;
}

.brapi-required {
  color: red;
}

.brapi-feature {
  font-weight: normal;
}

.brapi-feature-name {
  font-weight: bold;
}

.brapi-feature-value {
  font-weight: normal;
}

.brapi-minor-details {
  color: DimGray;
  font-size: smaller;
}

.brapi-missing {
  color: DarkOrange;
  font-weight: bold;
}

.brapi-yes,
.brapi-yes a {
  color: DarkGreen;
}

.brapi-no {
  color: DarkRed;
}

.brapi-dl {
  width: 100%;
  padding: 0 2ex;
  margin: 0;
}

.brapi-dl dt {
  float: left;
  clear: left;
  width: 60ex;
  padding: 0;
  margin: 0;
}

.brapi-dl dd {
  float: left;
  padding: 0;
  margin: 0;
}

/* Breeding API Query Interface */
#brapi_query_calls {
  padding: 0 0 1em 0;
}

#brapi_query_calls caption {
  display: inline;
}

#brapi_query_calls form {
  margin-top: 1em;
}

#brapi_query_url {
  width: 100ex;
}

#brapi_query_settings label {
  display: block;
  width: 20ex;
}

#brapi_query_settings input,
#brapi_query_calls .brapi-call-select select {
  position: absolute;
  left: 21ex;
}

.brapi-query-argument label,
.brapi-query-filter-get label,
.brapi-query-filter-post label {
  display: block;
  width: 30ex;
}

.brapi-query-argument input,
.brapi-query-argument select,
.brapi-query-filter-get input,
.brapi-query-filter-get select,
.brapi-query-filter-post input,
.brapi-query-filter-post select {
  position: absolute;
  left: 40ex;
  width: 60ex;
}

.brapi-query-page label,
.brapi-query-size label {
  display: block;
  width: 19ex;
}

.brapi-query-page input,
.brapi-query-size input {
  position: absolute;
  left: 20ex;
  width: 4ex;
}

.brapi-query-button {
  margin-top: 1em;
}

#brapi_query_results,
#brapi_query_debug code {
  display: block;
  margin: 0 0 1em 0;
  padding: 0.5em 1ex;
  border: 1px solid black;
  font-family: Consolas, Courier New, monospace;
  white-space: pre-wrap;
  overflow: auto;
}
